<div class="row">
   <div class="col-12 col-md-3">
    <%= render partial: 'shared/user' %>

   </div>
   <div class="col mt-5">
      <div class="chat" data-channel-subscribe="chatroom" id="message-container" data-user-id="<%= current_user.id %>">
          <%= render @messages%>     
      </div>

      <%= simple_form_for @message_new , remote: true do |form| %>
        <div class="input-group mb-3" id="message-content">
          <%= form.input :message_body, as: :string,
                                  wrapper: false,
                                  label: false,
                                  input_html: {
                                    class: 'chat__input',
                                    autocomplete: 'off'
                                  } %>
          <div class="input-group-append">
            <%= form.submit "Send", class: 'btn btn-primary chat-input' %>
          </div>
        </div>
        <%= form.hidden_field :conversation_id, value: params[:conversation_id] %>
      <% end %>
    </div>
  </div>
</div>