 <div class="col mt-5">
    <div class="chat" data-channel-subscribe="chatroom" data-user-id="<%= current_user %>">
      <% @messages.each do |message| %>
       <div class="chat__message__container">
          <div class="row no-gutters">
            <div class="col-auto text-center">
                <i class="fa fa-user-circle fa-5x"></i>
            </div>

          <div class="col">
              <div class="message__content">
                <p class="mb-1">
                  <%= message.message_body %>
                </p>

                <div class="text-right">
                  <small>
                    <%= message.created_at %>
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <%= simple_form_for @message_new, remote: true do |form| %>
      <div class="input-group mb-3">
        <%= form.input :message_body, as: :string,
                                 wrapper: false,
                                 label: false,
                                 input_html: {
                                   class: 'chat__input',
                                   autocomplete: 'off'
                                 } %>
        <div class="input-group-append">
          <%= form.submit "Send", class: 'btn btn-primary chat-input' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
