
<h1>
<%= @chatroom.name %>
</h1>

<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'chatroom' %>
  </div>

  <div class="col">
    <div class="chat" data-channel-subscribe="chatroom" data-room-id="<%= @chatroom.id %>">
      <% @room_messages.each do |message| %>
        <div class="chat-message-container">
          <div class="row no-gutters">
            <div class="col-auto text-center">
                <i class="fa fa-user"></i>
            </div>

            <div class="col">
              <div class="message-content">
                <p class="mb-1">
                  <%= message.message %>
                </p>

                <div class="text-right">
                  <small>
                    <%= message.created_at %>
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <%= simple_form_for @room_message, remote: true do |form| %>
      <div class="input-group mb-3">
        <%= form.input :message_body, as: :string,
                                 wrapper: false,
                                 label: false,
                                 input_html: {
                                   class: 'chat-input',
                                   autocomplete: 'off'
                                 } %>
        <div class="input-group-append">
          <%= form.submit "Send", class: 'btn btn-primary chat-input' %>
        </div>
      </div>

      <%= form.input :chatroom_id, as: :hidden %>
    <% end %>
  </div>
</div>

