
<%= stylesheet_link_tag "login", media: "all", "data-turbolinks-track" => "reload" %>
 
<div class="entry">		
  <%= render "users/shared/error_messages", resource: resource %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <div class="form-group">
          <div class="input-group">
              <%= f.email_field :email,placeholder:"Enter Email", autofocus: true, autocomplete: "email", class:"form-control" %>
          </div>
      </div>

      <div class="actions">
        <%= f.submit "Reset Password", class: 'btn btn-primary' %>
      </div>
    <% end %>
    <div class="hint-text small">
        Already have an account? 
        <%= link_to "Log in", new_session_path(resource_name), class: "text-primary" %> 
     </div>
</div>
